body {
  background-color: #cfd4f7;
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

.chat-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 16px 80px;
  box-sizing: border-box;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
  flex-shrink: 0;
}

.bubble-group {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: baseline;
  gap: 8px; /* 이름과 시간 간격 */
  margin-bottom: 4px;
}

.name {
  font-size: 13px;
  color: #555;
  font-weight: bold;
}

.time {
  font-size: 11px;
  color: #999;
}

.bubble {
  background-color: #fff;
  color: #000;
  padding: 6px 10px;     /* 여백 줄이기 */
  border-radius: 18px;
  font-size: 13px;
  display: inline-block;
  line-height: 1.3;      /* 줄간격 줄여서 위쪽 여백 없앰 */
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: pre-line; /* 줄바꿈 유지 */
  vertical-align: top;   /* inline-block 위쪽 들뜸 방지 */
  margin-top: 6px;
}


.chat-date {
  display: block;       
  width: fit-content;
  background-color: #fff;      /* 배경색 */
  color: #000;                 /* 텍스트 색 */
  padding: 7px 14px;           /* 위아래, 좌우 패딩 */
  border-radius: 18px;         /* 완전 둥글게 */
  opacity: 0.4;                /* 반투명 */
  font-size: 12px;
  text-align: center;          /* 텍스트 중앙 정렬 */
  margin: 20px auto;           /* 수평 중앙 정렬 */
}
