body {
  background-color: #cfd4f7;
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

.chat-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px 16px 80px;
}

.message {
  display: flex;
  align-items: flex-start;
  border-radius: 18px; /* 완전 둥글게 */
  margin-bottom: 16px;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
}

.bubble-group {
  max-width: 70%;
}

.name {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
}

.bubble {
  background-color: #fff;
  color: #000;
  padding: 10px 14px;
  border-radius: 18px; /* 완전 둥글게 */
  border-top-left-radius: 4px;
  margin-bottom: 6px;
  display: inline-block;
  line-height: 1.5;
  word-break: keep-all;
}

.time {
  font-size: 11px;
  color: #999;
  margin-top: 4px;
}

.chat-date {
    text-align: center;
    color: #D3D3D3;
    font-size: 12px;
    margin: 20px 0;
    background-color: #ffffff;
    color: #333;
    padding: 7px 7px;
    border-radius: 18px; /* 완전 둥글게 */
    opacity: 40%;
    line-height: 0;
    display: flex;
    text-align: center;
    max-width: 60%; /* 모바일에서 날짜 박스 더 넓게 */
  }
