body {
  margin: 0;
  padding: 0;
  background-color: #cfd4f7;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

.buttons button {
  background-color: #6c73f7;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 14px 30px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.buttons button:hover {
  background-color: #5a63d1;
}

.chat-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 16px 80px; /* 상단 패딩 줄임 */
  box-sizing: border-box;
}


.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 6px;
  flex-shrink: 0;
}

.bubble-group {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: baseline;
  gap: 8px; /* 이름과 시간 간격 */
  margin-bottom: 4px;
}

.name {
  font-size: 13px;
  color: #555;
  font-weight: bold;
}

.time {
  font-size: 11px;
  color: #999;
}

.bubble {
    align-items: flex-end;
    display: flex;
    gap: 6.5px;
}


.chat-date {
  display: block;       
  width: fit-content;
  background-color: #fff;      /* 배경색 */
  color: #000;                 /* 텍스트 색 */
  padding: 7px 14px;           /* 위아래, 좌우 패딩 */
  border-radius: 18px;         /* 완전 둥글게 */
  opacity: 0.4;                /* 반투명 */
  font-size: 12px;
  text-align: center;          /* 텍스트 중앙 정렬 */
  margin: 20px auto;           /* 수평 중앙 정렬 */
}
.hidden {
  display: none;
}
