body {
  background-color: #cfd4f7;
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

.chat-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 5px 5px;
  border-radius: 20px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;  
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}

.bubble-group {
  max-width: 70%;
}

.name {
  font-weight: bold;
  color: #4a4a6a;
  font-size: 13px;
  margin-right: 6px;
}

.bubble {
  background-color: #fff;
  color: #333;
  padding: 10px 12px;
  border-radius: 18px;
  border-top-left-radius: 4px;
  margin-bottom: 6px;
  display: inline-block;
  line-height: 1.5;
  word-break: keep-all;
  display: inline-block;      /* 글자 길이에 따라 폭 조절 */
  width: auto;                /* 고정 폭 제거 */
  max-width: 68%;             /* 너무 길어지지 않도록 제한 */
  min-width: 20px;            /* 너무 짧으면 최소 폭 유지 */
  white-space: pre-wrap;      /* 줄바꿈과 공백 유지 */
}


.time {
  font-size: 11px;
  color: #999;
  margin-top: 4px;
}
